* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
    background-color: rgb(185, 197, 209);
}

header{
    background-color: rgb(185, 197, 209);
    padding: 100px 0;
    color: #000000;
    display: flex;
    justify-content: center;
}

form ol{
    padding: 10px 0;
    text-align:center;
}

input{
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid;
    font-weight: bold;
    font-size: 20px;
    
}

button{
    padding: 10px;
    background-color: #000000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}





